name: actual-server
services:
  actual-server:
    container_name: actual-server
    image: actualbudget/actual-server:25.2.1
    ports:
      - "5006:5006"
    restart: unless-stopped
    volumes:
      - /DATA/AppData/actual:/data
    healthcheck:
      # Enable health check for the instance
      test: ["CMD-SHELL", "node src/scripts/health-check.js"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s
x-casaos:
  architectures:
    - amd64
    - arm64
  main: actual-server
  author: Wallace
  category: WCasaOS
  developer: Matiss Janis Aboltins
  project_url: https://actualbudget.org/
  description:
    en_us: Actual Budget is a super fast and privacy-focused app for managing your finances. At its heart is the well proven and much loved Envelope Budgeting methodology. You own your data and can do whatever you want with it. Featuring multi-device sync, optional end-to-end encryption and so much more.
    pt_br: Actual Budget é um aplicativo super rápido e focado na privacidade para gerenciar suas finanças. Em sua essência está a comprovada e muito apreciada metodologia de Orçamento de Envelope. Você possui seus dados e pode fazer o que quiser com eles. Apresentando sincronização de vários dispositivos, criptografia ponta a ponta opcional e muito mais.
  tagline:
    en_us: Local-first OpenSource Budget tool
    pt_br: Ferramenta de orçamento OpenSource local
  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/actual-budget.png
  screenshot_link:
    - https://actualbudget.org/img/homepage/actual-main-budget.png
    - https://actualbudget.org/img/homepage/actual-main-transaction.png
    - https://actualbudget.org/img/homepage/actual-report-cash-flow.png
  title:
    en_us: Actual Budget
  index: /
  port_map: "5006"