name: actual
services:
  actual:
    container_name: actual
    image: actualbudget/actual-server:26.2.0
    ports:
      - "5006:5006"
    labels:
      tsdproxy.enable: true
      tsdproxy.name: actual
    restart: unless-stopped
    volumes:
      - /DATA/AppData/actual:/data
    healthcheck:
      # Enable health check for the instance teste
      test: ["CMD-SHELL", "node src/scripts/health-check.js"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s
    networks:
      - actual
      
networks:
  actual:
    name: actual
    driver: bridge

x-casaos:
  architectures:
    - amd64
    - arm64
  category: WCasaOS
  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/actual-budget.png
  index: /
  port_map: "5006"
  title:
    custom: Actual Budget